:root {
  --bg: #white;
  --bgSoft: #e1e1e1;
  --text: black;
  --textSoft: #black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}
